.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;

  margin: 0;
  padding: 0;

  text-decoration: none;

  color: #2f80ed;

  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}
