.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;

  font-family: "Helvetica Neue", Arial, sans-serif;
}



.techniques {}

.section-title {}

.section-subtitle {}

.cards {}

.cards__item {}

.cards__image {}

.cards__title {}

.cards__description {}

.video {}

.section-title {}

.section-subtitle {}

.video__iframes {}

.video__iframe {}

.oakley {}

.two-columns {}

.two-columns__brief {}

.two-columns__main-text {}

.two-columns__paragraph {}

.khan {}

.khan__container {}

.khan__author {}

.khan__title {}

.khan__quote {}

.khan__quote-author {}

.khan__quote-author-subline {}

.khan__book-container {}

.khan__book-pic {}

.khan__buy-link {}

.resources {}

.section-title {}

.section-subtitle {}

.resources__logo-zone {}

.resource__logo {}
